.award {
    margin-top: 120px;
    background: rgba(74, 43, 51, 1);
    color: #D27487;
    margin-right: 2px;
}

.award-container {
    padding-top: 121px;
    display: flex;
}

.award-title {
    font-family: 'Azeret Mono';
    font-weight: 400;
    font-size: 47px;
    line-height: 62px;
    letter-spacing: 1px;
    width: 413px;
    margin-right: 267px;
}

.award-text {
    width: 595px;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 133px;
    margin-top: 18px;
}